<div class="form-group">
    <button name="action" value="save_stay" type="submit" class="btn btn-block btn-block-menu btn-success">
        <span class="glyphicon glyphicon-floppy-saved"></span> <b>SAVE AND STAY </b>
    </button>
</div>

<div class="form-group">
    <button name="action" value="Save" type="submit" class="btn btn-block btn-block-menu btn-primary">
        <span class="glyphicon glyphicon-floppy-disk"></span> <b>СОХРАНИТЬ </b>
    </button>
</div>

<div class="form-group">
    <button name="action" value="cancel" type="submit" class="btn btn-block btn-block-menu btn-warning">
        <span class="glyphicon glyphicon-ban-circle"></span> <b>ОТМЕНИТЬ </b>
    </button>
</div>