<form method="POST" target="gate">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                  <?php echo $this->fetch("fields_view.phtml"); ?>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>

        <!--col-->
        <div class="col-md-3 col-xs-12">
            <div class="box box-primary">
                 <!--/.box-header -->
                <div class="box-header">
                    <h3 class="box-title">Действие</h3>
                </div>
                 <!--/.box-body -->
                <div class="box-body">
                    <?php echo $this->fetch("edit_actions.phtml"); ?>
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
</section>
</form>

<iframe style="display:none;" name="gate" width="450px" height="200px"></iframe>
<!-- /.content -->