<?php 

foreach ($this->model->fields->field as $field) { ?>
    <?php
    if ($field['only_list'] == "true") {
        continue;
    }
    ?>
    <div class="form-group">
        <h4><?=$field['caption'];?></h4>
        
        <?php 
            $this->field = $field;
            echo $this->fetch($field['type'] . "_field_view.phtml"); 
        ?>
        
    </div>
<?php } ?>