<?php
$fieldCaption = (string)$this->field['caption'];
$fieldCaption = str_replace(" ", "_", $fieldCaption);
?>

<select class="form-control select2-hidden-accessible"
        id="id_<?=$fieldCaption;?>"
        name="<?=$fieldCaption?>"
        value="<?=$this->data[$fieldCaption . "_key"];?>" >
        
        <?php
        if ($this->field['is_null'] == "true") { ?>
            <option value="">NULL</option>
        <?php } ?>
        
        <?php
        foreach ($this->data['foreigns'][(string)$this->field['caption']] as $foreign) { ?>
            <option value="<?=$foreign['id']; ?>"
            <?php
            if ($this->data[$fieldCaption . "_key"] == $foreign['id']) {
                echo " selected ";
            }
            ?>
            >
                <?=$foreign['caption'];?>
            </option>
            
        <?php } ?>
        
</select>