<div class="box-header">
    <?php
    foreach ($this->model->actions->action as $action) { ?>
        <?php
        if ($action['type'] == "Edit" ||
                $action['type'] == "Delete") {
                    continue;
        } ?>
        <a class="btn btn-default" href="?action=<?=$action['type'];?>"><?=$action['caption'];?></a>
    <?php } ?>
</div>