<?php 
foreach ($this->data as $row) { ?>
    <tr>
        <?php foreach ($this->model->fields->field as $field) { ?>
            <?php  
                if ($field['only_list'] === false) {
                    continue;
                }
                
                $fieldValue = (string)$field['caption'];
                
                $fieldValue = str_replace(" ", "_", $fieldValue);
            ?>
            
            <td><?=$row[$fieldValue];?></td>
        <?php } ?>
        <td>
        <div class="btn-group pull-right">
            <?php
            foreach ($this->model->actions->action as $action) { ?>
                <?php if ($action['type'] == "Edit" || 
                        $action['type'] == "Delete") { ?>
                        <a href="?id=<?=$row['ID']?>&action=<?=$action['type']?>" data-id="" class="glyphicon glyphicon-pencil btn btn-default btn-sm"></a>                
                <?php } ?>
            <?php } ?>
        </div>
        </td>
    </tr>
<?php } ?>