                                <th style="width:100px;"><input class="form-control" id="id_id" name="id" type="text"></th>
                                <th style="width:160px;"><select class="form-control select2 select2-hidden-accessible" id="id_status" name="status" tabindex="-1" aria-hidden="true">
                                    <option value="" selected="selected">---------</option>
                                    <option value="0">Pending</option>
                                    <option value="11">Busy</option>
                                    <option value="12">Denied</option>
                                    <option value="13">Duplicate</option>
                                    <option value="14">Incorrect</option>
                                    <option value="20">Accepted</option>
                                    <option value="21">Shipped</option>
                                    <option value="22">At department</option>
                                    <option value="23">Paid</option>
                                    <option value="24">Return</option>
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 144px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-id_status-container"><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span></th>
                                                                    <th style="width:120px;"><select class="form-control select2 select2-hidden-accessible" id="id_country" name="country" tabindex="-1" aria-hidden="true">
                                    <option value="" selected="selected">---------</option>
                                    <option value="3">Румыния</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 104px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-id_country-container"><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span></th>
                                <th><input class="form-control" id="id_phone" maxlength="512" name="phone" type="text"></th>
                                <th><input class="form-control" id="id_name" maxlength="1024" name="name" type="text"></th>
                                <th></th>
                                <th></th>
                                <th></th>


                                <th><input class="form-control" id="id_trackid" maxlength="128" name="trackid" type="text"></th>
                                <th><div class="icheckbox_minimal-green" aria-checked="false" aria-disabled="false" style="position: relative;"><input id="id_processing" name="processing" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div></th>





                                <th style="width:110px;"></th>
                                <th style="width:110px;"></th>
                                <th style="width: 116px; min-width:116px;">
                                    <button name="filter" value="filter" type="submit" class="btn btn-block btn-success">
                                        <span class="glyphicon glyphicon-filter"></span> <b>Filtru</b>
                                    </button>
                                </th>