<?php 
foreach ($this->model->fields->field as $field) { ?>
    <?
    if ($field['only_list'] === false) {
        continue;
    } ?>
    
    <th><?=$field['caption'];?></th>    
<?php } ?>
<th></th>