<section class="content-header">
    <h1>
        <?php echo __($this->model['caption']); ?>
        <small><?php echo __($this->model['caption']); ?> list</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="http://admin-crm.com/panel/orders/#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><?php echo __($this->model['caption']); ?></li>
    </ol>
</section>