<?php echo $this->fetch("list_header.phtml"); ?>

<form>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!-- /.box-header -->
                <?php echo $this->fetch("list_actions.phtml"); ?>
                
                <div class="box-body table-responsive">
                    <table class="table table-hover table-vcenter" id="example2">
                        <thead>
                            <tr role="row">
                                <?php //echo $this->fetch("list_filters.phtml"); ?>
                            </tr>
                            <tr role="row">
                                <?php echo $this->fetch("list_col_names.phtml"); ?>
                            </tr>
                        </thead>
                        <tbody>

                            <?php echo $this->fetch("list_rows.phtml"); ?>
                        
                        </tbody>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
</form>
<!-- /.content -->


<!-- /.content-wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script>

    //   $(function () {
    //     $("#example1").DataTable();
    //     $('#example2').DataTable({
    //       "paging": true,
    //       "lengthChange": true,
    //       "searching": true,
    //       "ordering": true,
    //       "info": true,
    //       "autoWidth": false
    //     });
    //   });

   

    // $(document).ready(function() {
    //   $('table#example2').columnFilters({alternateRowClassNames:['rowa','rowb'], excludeColumns:[3,10]});
    // });
</script>