<?php echo $this->fetchSystemHead(); ?>

    <!-- Site wrapper -->
    <div class="wrapper skin-blue">
      
      <header class="main-header">
        <!-- Logo -->
        <a href="http://admin-crm.com/panel/dashboard/" class="logo">

            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b> - crm</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="http://admin-crm.com/panel/clients/#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">

                <div class="pull-left" style="margin-top: 10px;">
                     <form class="pull-right" action="http://admin-crm.com/i18n/setlang/" method="POST">
                        
                        
                            <input class="btn btn-sm btn-primary" name="language" type="submit" value="en">
                        
                            <input class="btn btn-sm btn-primary" name="language" type="submit" value="ro">
                        
                            <input class="btn btn-sm btn-primary" name="language" type="submit" value="ru">
                        
                    </form>
                </div>
                <ul class="nav navbar-nav">
                    
                    <li class="dropdown user user-menu">
                        <a href="http://admin-crm.com/panel/clients/#">
                            <span class="fa fa-user fa-lg"></span> <span class="hidden-xs"><strong><?php echo $this->controller->user->getLogin(); ?></strong></span>
                        </a>
                    </li>
                    <li>
                        <a href="/logout/">
                            <span class="fa fa-sign-out fa-lg"></span> <b><?php echo __("Deautentificare"); ?></b>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
      <!-- =============================================== -->
      <?php echo $this->fetch("menu.phtml"); ?>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        

        <!-- Main content -->
        <section id="content" class="content">

        </section>
      </div><!-- /.content-wrapper -->

      <footer class="main-footer">
        
 
      </footer>
    </div><!-- ./wrapper -->
    
    <script src="/themes/admin-crm/static/plugins/jquery.dataTables.js"></script>
    <script src="/themes/admin-crm/static/plugins/dataTables.bootstrap.js"></script>

<?php echo $this->fetchSystemFooter(); ?>