<?php echo $this->fetchSystemHead(); ?>

<div class="login-box">
      <div class="login-logo">
        <a href="index2.html"><b>Admin</b> -crm</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Введите данные для авторизации:</p>
        <form method="POST" action="/login/" target="gate">
          <div class="form-group has-feedback">
            <input type="text" class="form-control login" name="login" placeholder="Логин" required />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" name="password" placeholder="Пароль" required />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">    
                    
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" id="sign_in" class="btn btn-primary btn-block btn-flat">Войти</button>
            </div><!-- /.col -->
          </div>
        </form>

        Вы не авторизированы. Для доступа к этой странице, введите логин и пароль.
      
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- iCheck -->
    <script src="themes/admin-crm/static/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script>
        
        $(document).ready(function() {
            $("body").addClass("login-page");
        });
        
    </script>
    
<?php echo $this->fetchSystemFooter(); ?>