<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <ul class="sidebar-menu">
    <li class="">
    <a href="http://admin-crm.com/">
    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
    </li>

    <li>
    <a href="/orders">
    <i class="fa fa-credit-card"></i> <span>Orders</span>
    </a>
    </li>
    <li class="">
    <a href="http://admin-crm.com/clients">
    <i class="fa fa-user"></i> <span>Clients</span>
    </a>
    </li>

    <li class="treeview ">
    <a href="#">
    <i class="fa fa-server"></i> <span>Asterisk</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">

    <li class="">
    <a href="http://admin-crm.com/calls">
      <i class="glyphicon glyphicon-phone-alt"></i> <span>Calls</span>
    </a>
    </li>

    <li class="">
    <a href="http://admin-crm.com/asterisksms">
      <i class="fa fa-envelope"></i> <span>Asterisk SMS</span>
    </a>
    </li>


    <li class="">
    <a href="http://admin-crm.com/simcards">
      <i class="fa fa-mobile"></i> <span>Simcards</span>
    </a>
    </li>

    </ul>
    </li>

    <li class="treeview ">
    <a href="#">
    <i class="fa fa-dropbox"></i> <span>Products</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
    <li class=""><a href="http://admin-crm.com/stock"><i class="fa fa-home"></i>Stock</a></li>

    <li class=""><a href="http://admin-crm.com/goods"><i class="fa fa-circle-o"></i>Goods</a></li>

    <li class=""><a href="http://admin-crm.com/delivery"><i class="fa fa-truck"></i>Livrare</a></li>


    </ul>
    </li>
    <li class="treeview ">
    <a href="http://admin-crm.com/panel/orders/#">
    <i class="fa fa-globe"></i> <span>GEO</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">


    <li class=""><a href="http://admin-crm.com/states"><i class="fa fa-circle-o"></i>States</a></li>

    <li class=""><a href="http://admin-crm.com/cities"><i class="fa fa-circle-o"></i>Cities</a></li>
    <li class=""><a href="http://admin-crm.com/zipcodes"><i class="fa fa-circle-o"></i>ZipCodes</a></li>
    </ul>
    </li>
    <li class="treeview">
    <a href="#">
    <i class="fa fa-phone"></i> <span>Calling</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">

      <li class=""><a href="http://admin-crm.com/calling"><i class="fa fa-circle-o"></i>Calling RO</a></li>

    </ul>
    </li>

    <li class="">
    <a href="http://admin-crm.com/monitoring">
    <i class="fa fa-desktop"></i> <span>Monitoring</span>
    </a>
    </li>


    <li class="treeview ">
    <a href="#">
    <i class="fa fa-truck"></i> <span>Packing</span>
    <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu menu-open" style="display: block;">


      <li class="">
          <a href="#"><i class="fa fa-circle-o"></i> PackingRO <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
              
                  <li><a href="http://admin-crm.com/pack"><i class="fa fa-circle-o"></i> To Pack</a></li>
              

              
                  <li><a href="http://admin-crm.com/sent"><i class="fa fa-circle-o"></i> Sent</a></li>
              

              
                  <li><a href="http://admin-crm.com/toate"><i class="fa fa-circle-o"></i> Toate</a></li>
              

              
                  <li class=""><a href="http://admin-crm.com/invoice"><i class="fa fa-circle-o"></i> Invoice</a></li>
              
          </ul>
      </li>


    </ul>
    </li>

    <li class="treeview ">
    <a href="#">
    <i class="fa fa-users"></i> <span>Users and Groups</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">

    <li class=""><a href="http://admin-crm.com/users"><i class="fa fa-circle-o"></i>Users</a></li>

    </ul>
    </li>
    <li class="treeview ">
    <a href="#">
    <i class="fa fa-signal"></i> <span>Statistic</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">

    <li class="">
    <a href="http://admin-crm.com/statistic">
      <i class="fa fa-signal"></i> <span>Order statistic</span>
    </a>
    </li>


    <li class="">
    <a href="http://admin-crm.com/operator_bonus">
      <i class="fa fa-circle-o"></i> <span>Operator bonus</span>
    </a>
    </li>


    <li>
    <a href="http://admin-crm.com/packages_statistic">
      <i class="fa fa-circle-o"></i> <span>Courier Statistics</span>
    </a>
    </li>

    </ul>
    </li>

    </ul>
  </section>
</aside>